body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    text-align: center;
    margin: 0;
}

.bg-image {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: -1; /* Ensure the image stays behind other content */
  }
  